@import "@envoysjobs/ui/src/styles/index.css";

html, body {
  min-height: 100%;
}

body {
  background: var(--background);
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
